//AvatarEditor.less

@media @tablet-up {
	.Dropdown-menu {
		right: 35%; //left: 35%;
	}
}

//Composer.less

.ComposerBody-header {
	> li {
		margin-left: -4px; //margin-right: -4px;
	}
	
	&, &[disabled], &:focus {
		padding: 0 0 20px 0; //padding: 0 20px 0 0;
	}
}

.Composer-controls {
	left: 10px; //right: 10px;
}

@media @phone {
	.ComposerBody-content {
		.minimized & {
			margin-left: 50px; //margin-right: 50px;
		}
	}
}

@media @tablet-up {
	.ComposerBody-avatar {
		float: left; //float: left;
	}
	.ComposerBody-content {
		margin-right: 85px; //margin-left: 85px;
		
		.minimized &, .fullScreen & {
			margin-right: 0; //margin-left: 0;
		}
	}
}

@media @desktop-up {
	.Composer:not(.fullScreen) {
		.App--index & {
			margin-left: -20px; //margin-right: -20px;
			margin-right: 220px; //margin-left: 220px;
			
		}
		
		.App--discussion & {
			margin-left: 205px; //margin-right: 205px;
			margin-right: -20px; //margin-left: -20px;
		}
	}
}

@media @desktop-hd {
	.hasPane.panePinned .App-composer {
		right: @pane-width; //left: @pane-width;
	}
}

@media @tablet-up {
	.TextEditor-controls {
		margin: 0 0 -20px -105px; //margin: 0 -20px 0 -105px;
		
		li {
			margin-left: 5px; //margin-right: 5px;
		}
}

//DiscussionHero.less

.DiscussionHero {
	.badges {
		margin-left: 10px; //margin-right: 10px;
	}
}

//DiscussionListItem.less

.DiscussionListItem-author {
	float: right; //float: left;
}

.DiscussionListItem-badges {
	float: right; //float: left;
	text-align: left; //text-align: right;
	
	.Badge {
		margin-right: -10px; //margin-left: -10px;
	}
}

.DiscussionListItem-info {
	.item-terminalPost .icon {
		margin-left: -1px; //margin-right: -1px;
	}
}

.DiscussionListItem-count {
	float: left; //float: right;
}

.DiscussionListItem-relevantPosts {
	@media @phone {
		margin-left: -35px; //margin-right: -35px;
		margin-right: -45px; //margin-left: -45px;
	}
	
	.PostPreview {
		.PostPreview-content {
			padding-right: 0; //padding-left: 0;
		}
		
		&:first-child { //Original: "&:first-child" <> Change to: "&:last-child"?
			border-radius: @border-radius @border-radius 0 0;
		}
	}
}

@media @phone {
	.DiscussionListItem-content {
		padding-left: 15px + 35px; //padding-right: 15px + 35px;
		padding-right: 15px + 45px; //padding-left: 15px + 45px;
	}
	
	.DiscussionListItem-author {
		margin-right: -45px; //margin-left: -45px;
	}
	
	.DiscussionListItem-badges {
		margin-right: -45px; //margin-left: -45px;
		
		.badge {
			margin-right: -13px; //margin-left: -13px;
		}
	}
	
	.DiscussionListItem-main {
		margin-left: -45px; //margin-right: -45px;
	}
	
	.DiscussionListItem-count {
		margin-left: -35px; //margin-right: -35px;
	}
}

@media @tablet-up {
	.DiscussionListItem {
		margin-right: -15px; //margin-left: -15px;
		padding-right: 15px; //padding-left: 15px;
		padding-left: 25px; //padding-right: 25px;
		margin-left: -15px; //margin-right: -15px;
	}
	
	.DiscussionListItem-controls {
		left: 5px; //right: 5px;
		
		.Dropdown-menu {
			right: auto; //left: auto;
			left: 0; //right: 0;
		}
	}
	
	.DiscussionListItem-content {
		padding-left: 80px; // padding-right: 80px;
		padding-right: 52px; //padding-left: 52px;
	}
	
	.DiscussionListItem-author {
		margin-right: -52px; //margin-left: -52px;
	}
	
	.DiscussionListItem-badges {
		margin-right: -55px; //margin-left: -55px;
	}
	
	.DiscussionListItem-main {
		margin-left: -65px; //margin-right: -65px;
	}
	
	.DiscussionListItem-count {
		margin-left: -70px; //margin-right: -70px;
		padding-right: 21px; //padding-left: 21px;
		
		&:before {
			float: right; //float: left;
			margin-right: -21px; //margin-left: -21px;
		}
	}
}

//DiscussionPage.less

@media @tablet-up {
	.DiscussionPage-nav {
		float: left; //float: right;
	}
}

@media @tablet-up {
	.DiscussionPage-stream {
		margin-left: 225px; //margin-right: 225px;
	}
}

@media @tablet-up {
	.DiscussionPage-list {
		right: -@pane-width - 6px; //left: -@pane-width - 6px;
		.transition(right 0.2s); //.transition(left 0.2s);

		.paneShowing & {
			right: 0; //left: 0;
		}

		.DiscussionListItem-content {
			padding-left: 65px + 15px; //padding-right: 65px + 15px;
			padding-right: 52px + 15px; //padding-left: 52px + 15px;
		}

		.DiscussionListItem-relevantPosts {
			margin-left: -65px; //margin-right: -65px;
			margin-right: -52px; //margin-left: -52px;
		}
	}
}

@media @desktop-hd {
	.DiscussionPage-list {
		.panePinned & {
			right: 0; //left: 0;
		}
	}

	.App-content, .App-footer {
		.hasPane.panePinned & {
			margin-right: @pane-width; //margin-left: @pane-width;
		}
	}
}

//EditUserModal.less

.EditUserModal-groups {
	.Badge {
		margin: -3px -3px 3px 0; //margin: -3px 3px -3px 0;
	}
}

//Hero.less

.Hero-close {
	float: left; //float: right;
}

//IndexPage.less

.IndexPage-toolbar-view > li {
	margin-left: 5px; //margin-right: 5px;
}

.IndexPage-toolbar-action {
	float: left; //float: right;

	> li {
		margin-left: 5px; //margin-left: 5px;
	}
}

//LogInButton.less

.LogInButton {
	.Button-icon {
		margin-left: 5px; //margin-right: 5px;
	}
}

//NotificationGrid.less

.NotificationGrid-groupToggle {
	.icon {
		margin-left: 2px; //margin-right: 2px;
	}
}

//NotificationList.less

.NotificationList-header {
	.Button {
		float: left; //float: right;
		margin-left: -11px; //margin-right: -11px;
	}
}

.NotificationGroup-badges {
	margin-left: 18px; //margin-right: 18px;
	margin-right: -2px; //margin-left: -2px;

	.Badge {
		margin-left: -13px; //margin-right: -13px;
	}
}

.Notification {
	padding: 8px 8px 15px 70px; //padding: 8px 15px 8px 70px;

	.Avatar {
		float: right; //float: left;
		margin: -2px -2px 0 -55px; //margin: -2px 0 -2px -55px;
	}
}

.Notification-icon {
	float: right; //float: left;
	margin-right: -23px; //margin-left: -23px;
}

.Notification-content {
	margin-left: 5px; //margin-right: 5px;
}

//NotificationsDropdown.less

.NotificationsDropdown {
	& .Dropdown-toggle .Button-label {
		margin-right: 7px; //margin-left: 7px;
	}
}

.NotificationsDropdown-unread {
	right: 17px; //left: 17px;

	@media @phone {
		right: 20px; //left: 20px;
	}
}

//Post.less

.Post-header {
	> ul {
		> li {
			margin-left: 10px; //margin-right: 10px;
		}
	}
}

.PostUser {
	.UserCard {
		right: -100px; //left: -100px;
	}
}

.PostUser-badges {
	text-align: left; //text-align: right;

	.Badge {
		margin-right: -10px; //margin-left: -10px;
	}
}

.PostMeta-time {
	margin-right: 5px; //margin-left: 5px;
}

.EventPost-icon {
	float: right; //float: left;
}

.Post-footer {
	.icon {
		margin-left: 5px; //margin-right: 5px;
	}
}

.Post-actions {
	float: left; //float: right;

	> ul {
		> li {
			margin-right: -5px; //margin-left: -5px;
			margin-left: 0; //margin-right: 0;
		}
	}
}

.PostPreview {
	padding-right: 50px; //padding-left: 50px;

	.Avatar {
		float: right; //float: left;
		margin-right: -50px; //margin-left: -50px;
	}

	.username {
		margin-left: 5px; //margin-right: 5px;
	}

	time {
		margin-left: 5px; //margin-right: 5px;
	}
}

@media @phone {
	.Post-header {
		.Avatar {
			margin-left: 5px; //margin-right: 5px;
		}
	}

	.PostUser-badges {
		right: 6px; //left: 6px;

		.Badge {
			margin-right: -13px; //margin-left: -13px;
		}
	}

	.EventPost {
		padding-right: 50px; //padding-left: 50px;
	}

	.EventPost-icon {
		margin-right: -30px; //margin-left: -30px;
	}
}

@media @tablet-up {
	.Post {
		padding-right: 20px + @avatar-column-width; //padding-left: 20px + @avatar-column-width;
	}

	.PostUser-avatar {
		right: -@avatar-column-width; //left: -@avatar-column-width;
	}

	.PostUser-badges {
		float: right; //float: left;
		margin-right: -@avatar-column-width + 5px; //margin-left: -@avatar-column-width + 5px;
	}

	.EventPost-icon {
		text-align: left; //text-align: right;
		margin-right: -@avatar-column-width; //margin-left: -@avatar-column-width;
	}
}

//PostStream.less (The original in a comment)

//.item.highlight .post {
//	&:before {
//		right: -30px; //left: -30px;
//	}
// }

//Scrubber.less

.Scrubber {
	& a {
		margin-right: -5px; //margin-left: -5px;

		& .fa {
			margin-left: 2px; //margin-right: 2px;
		}
	}
}

.Scrubber-scrollbar {
	margin: 8px 8px 0 3px; //margin: 8px 0 8px 3px;
}

.Scrubber-unread {
	border-right: 1px solid lighten(@muted-color, 10%); //border-left: 1px solid lighten(@muted-color, 10%);
	background-image: linear-gradient(to left, @control-bg, fade(@control-bg, 0) 10px, fade(@control-bg, 0)); //background-image: linear-gradient(to right, @control-bg, fade(@control-bg, 0) 10px, fade(@control-bg, 0));
	padding-right: 13px; //padding-left: 13px;
}

.Scrubber-bar {
	float: right; //float: left;
	margin-right: -2px; //margin-left: -2px;
}

.Scrubber-info {
	right: 15px; //left: 15px;
}

//SettingsPage.less

.Settings-account {
	li {
		margin-left: 5px; //margin-right: 5px;
	}
}

//Slidable.less

@media @phone {
	.Slidable {
		.Slidable-underneath {
			text-align: left; //text-align: right;
		}

		.Slidable-underneath--right { //.Slidable-underneath--left {
			text-align: right; //text-align: left;
		}
	}
}

//UserCard.less

.UserCard-controls {
	float: left; //float: right;

	.Dropdown-menu {
		left: 0; //right: 0;
		right: auto; //left: auto;
	}
}

.UserCard-profile {
	text-align: right; //text-align: left;
	padding-right: 130px; //padding-left: 130px;

	@media @phone {
		padding-right: 0; //padding-left: 0;
	}
}

.UserCard-avatar {
	float: right; //float: left;
	margin-right: -130px; //margin-left: -130px;
}
