AvatarEditor.less

@media @tablet-up {
	.Dropdown-menu {
	left: 35%;
}

Composer.less

.ComposerBody-header {
	> li {
		margin-right: -4px;
	}
	&, &[disabled], &:focus {
		padding: 0 20px 0 0;
	}
}

.Composer-controls {
	right: 10px;
}

@media @phone {
	.ComposerBody-content {
		.minimized & {
			margin-right: 50px;
		}
	}
}

@media @tablet-up {
	.ComposerBody-avatar {
		float: left;
	}

	.ComposerBody-content {
		margin-left: 85px;

		.minimized &, .fullScreen & {
			margin-left: 0;
		}
	}
}

@media @desktop-up {
	.Composer:not(.fullScreen) {
		.App--index & {
			margin-left: 220px;
			margin-right: -20px;
		}
		.App--discussion & {
			margin-left: -20px;
			margin-right: 205px;
		}
	}
}

@media @desktop-hd {
	.hasPane.panePinned .App-composer {
		left: @pane-width;
	}
}

@media @tablet-up {
	.TextEditor-controls {
		margin: 0 -20px 0 -105px;
		li {
			margin-right: 5px;
		}
}
